@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


:root{
  --black-900:rgb(11, 11, 11);
  --black-800:rgb(36, 36, 36);
  --black-700:rgb(61, 61, 61);
  --black-500:rgb(103, 103, 103);
  --black-100 : rgb(230, 230, 230) ;

}

body {
  margin: 0;
  color:var(--black-900);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
